<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbl.mapper.FunctionsMapper">
    <!--增删改查sql语句-->
    <!--  新增  -->
    <insert id="insert">
        insert into functions
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            null,
            <if test="functionName!=null and functionName!=''">
                #{functionName},
            </if>
            <if test="parent!=null and parent!=''">
                #{parent},
            </if>
            <if test="reqUrl!=null and reqUrl!=''">
                #{reqUrl},
            </if>
            <if test="sort!=null and sort!=''">
                #{sort},
            </if>
        </trim>
    </insert>
    <!--  修改  -->
    <update id="update">
        update functions
        <trim prefix="set" suffixOverrides=",">
            <if test="functionName!=null and functionName!=''">
                function_name=#{functionName},
            </if>
            <if test="parent!=null and parent!=''">
                parent=#{parent},
            </if>
            <if test="reqUrl!=null and reqUrl!=''">
                reqUrl=#{reqUrl},
            </if>
            <if test="sort!=null and sort!=''">
                sort=#{sort},
            </if>
        </trim>
        where id=#{id}
    </update>
    <!--  删除  -->
    <delete id="delete">
        delete from functions where id=#{id}
    </delete>
    <!--  查询  -->
    <select id="select" resultType="com.gbl.entity.Functions">
        select * from functions
        <where>
            <if test="functionName!=null and functionName!=''">
                function_name like '%${functionName}%'
            </if>
        </where>
    </select>
    <!--  根据id查询  -->
    <select id="selectById" resultType="com.gbl.entity.Functions">
        select * from functions where id=#{id}
    </select>
</mapper>