<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbl.mapper.StudyMapper">
    <!--增删改查sql语句-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.gbl.entity.Study">
        INSERT INTO `study` (`learn_num`, `collect_num`, `learn_time`, `question_num`) VALUES (0, 0, 0, 0.0);
    </insert>
    <insert id="nweStudy">
        INSERT INTO `totalstudy` (`userId`, `studyId`) VALUES (#{uid}, #{sid});
    </insert>
    <insert id="chapterStudy">
        INSERT INTO `chapter_studycourse_relationship` (`cid`, `sid`) VALUES (#{chapterId}, #{sid});
    </insert>
    <insert id="addChapterStudy" keyProperty="id" useGeneratedKeys="true" parameterType="com.gbl.entity.ChapterStudy">
        INSERT INTO `chapter_study` (`ask_num`, `learn_num`) VALUES (#{askNum}, #{learnNum});
    </insert>
    <!--    删除学习记录-->
    <delete id="delete">
        delete from study where id = #{id}
    </delete>
<!--      修改  -->
    <update id="update">
        update study
        <trim prefix="set" suffixOverrides=",">
            <if test="learnTime!=null and learnTime!=''">
                learn_time=#{learnTime},
            </if>
            <if test="questionNum!=null and questionNum!=''">
                question_num=#{questionNum}
            </if>
        </trim>
        where id=#{id}
    </update>

    <!--  查询  -->
    <select id="select" resultType="com.gbl.entity.Study">
        SELECT u.*, s.*
        FROM `user` u
        JOIN totalstudy ts ON ts.userId = u.id
        JOIN `study` s ON s.id = ts.studyId
        <where>
            <if test="userName!=null and userName!=''">
                user_name like '%${userName}%'
            </if>
        </where>
    </select>
    <!--  根据id查询  -->
    <select id="selectById" resultType="com.gbl.entity.Study">
        SELECT u.id, u.user_name, u.sex,u.phone,s.learn_num,s.collect_num,s.learn_time,s.question_num
        FROM `user` u
                 JOIN totalstudy ts ON ts.userId = u.id
                 JOIN `study` s ON s.id = ts.studyId
        where u.id = #{id}
        ;
    </select>

    <!--      修改学习时长，次数  -->
    <update id="handleUpdate">
        update study
        <trim prefix="set" suffixOverrides=",">
            <if test="learnTime!=null and learnTime!=''">
                learn_time=#{learnTime},
            </if>
            <if test="learnNum!=null and learnNum!=''">
                learn_num=#{learnNum},
            </if>
            <if test="collectNum!=null and collectNum!=''">
                collect_num=#{collectNum},
            </if>
            <if test="questionNum!=null and questionNum!=''">
                question_num=#{questionNum},
            </if>
        </trim>
        where id=#{id}
    </update>
<!--用户课程学习记录-->
    <select id="selectUserCourse" resultType="com.gbl.entity.UserStudyCourse">
        SELECT
            sc.ask_num ,sc.learn_time ,sc.finish_time,
            c.course_name,c.course_time,c.id,
            u.user_name
        FROM
            study_course sc
                INNER JOIN study_course_relationship scr ON scr.sid = sc.id
                INNER JOIN course c ON c.id = scr.cid
                INNER JOIN user_study_relationship usr ON usr.sid = sc.id
                INNER JOIN user u ON u.id = usr.uid
        WHERE u.id = #{id}
    </select>
<!--查询用户单个课程(用户更新)-->
    <select id="selectUser" resultType="com.gbl.entity.UserCourseStudy">
        SELECT scr.sid,
               sc.ask_num ,sc.learn_time ,sc.finish_time,
               c.course_name,c.course_time,c.id,
               u.user_name
        FROM
            study_course sc
                INNER JOIN study_course_relationship scr ON scr.sid = sc.id
                INNER JOIN course c ON c.id = scr.cid
                INNER JOIN user_study_relationship usr ON usr.sid = sc.id
                INNER JOIN `user` u ON u.id = usr.uid
        WHERE u.id = #{userId} and c.id = #{courseId}
    </select>
<!--修改个人课程学习记录-->
    <update id="courseUpdate">
        update study_course
        <trim prefix="set" suffixOverrides=",">
            <if test="learnTime!=null and learnTime!=''">
                learn_time=#{learnTime},
            </if>
            <if test="askNum!=null and askNum!=''">
                ask_num=#{askNum},
            </if>
            <if test="totalTime!=null and totalTime!=''">
                totalTime=#{totalTime},
            </if>
            <if test="state!=null and state!=''">
                `state`=#{state},
            </if>
        </trim>
        where id=#{cid}
    </update>

<!--    查询最爱学习的学生-->
    <select id="loveStu" resultType="com.gbl.entity.UserStudyCourse">
        SELECT
            s.learn_time ,u.user_name
        FROM
            `user` u
                INNER JOIN totalstudy tts ON tts.userId = u.id
                INNER JOIN study s ON s.id = tts.studyId order by s.learn_time desc limit 10
    </select>
<!--    最新课程-->
    <select id="newCourse" resultType="com.gbl.entity.Course">
        select c.course_name,c.create_time from course c order by c.course_time desc limit 10
    </select>
<!--    统计用户提出的问题数-->
    <select id="countQuestionNum" resultType="java.lang.Integer">
        select count(*) from ask a
        INNER JOIN user_ask_relationship uar on a.id = uar.qid
        INNER JOIN `user` u on u.id = uar.uid
        where u.id =#{id}
        ;
    </select>
<!--    统计用户提出的问题数-->
    <select id="courseStudyById" resultType="java.lang.Integer">
        select count(*) from ask a
        INNER JOIN user_ask_relationship uar on a.id = uar.qid
        INNER JOIN `user` u on u.id = uar.uid
        INNER JOIN ask_course_relationship acr ON acr.qid = a.id
        INNER JOIN course c ON c.id = acr.cid
        where u.id = #{uid} and c.id =#{cid}
    </select>
<!--    查询出学习记录表-->
    <select id="findCourseStudy" resultType="com.gbl.entity.UserCourseStudy">
        SELECT sc.* FROM study_course sc
                             INNER JOIN study_course_relationship scr ON scr.sid = sc.id
                             INNER JOIN course c ON c.id = scr.cid
                             INNER JOIN user_study_relationship usr ON usr.sid = sc.id
                             INNER JOIN `user` u ON u.id = usr.uid
        where u.id = #{uid} and c.id = #{cid}
    </select>
    <select id="findChapterLearnById" resultType="com.gbl.entity.ChapterStudy">
        select cs.id,cs.ask_num,cs.learn_num from chapter c
        INNER JOIN chapter_studycourse_relationship scr on scr.cid = c.id
        INNER JOIN chapter_study cs on cs.id = scr.sid
        where c.id = #{id}
    </select>
</mapper>